.parent{
    width: 100%;
    height: 100%;
    background-color: white;
    margin: ;
}
.header{
    width: 100%;
    height: 30px;
    padding-left: 3%;
    border-top: 1px solid black;
    background-color: gray;
    display: flex; 
    text-align: center;
}
.h{
    width: 14%;  
    border: 1px solid black;
}
.sub{
    width: 100%;
    height: 30px;
    padding-left: 3%;
    display: flex;
    text-align: center;
}
.s{
    width: 13%;
    border: 1px solid black;
}      

 /*------navbar----*/
 
.container{
    width: 90%;
    background-color: white;
    margin: auto;
    border: 1px solid black;    
}
.add{
    width: 100%;
    padding: 1px;      
}
.box1{
    border: 1px solid black;
    width: 68%;
    height: 200px;   
}
.box8{
    border: 1px solid black;
    width: 30%;
    height: 150px;
    float: right;
    margin-top: -202px;
}
.add2{
    display: flex;
    justify-content: space-between; 
    margin-top: 1px;
}
.box3{
    border: 1px solid black;
    width: 33%;
    height: 90px;
}
.box4{
    border: 1px solid black;
    width: 33%;
    height: 90px;
    margin-left: 1px;
}
.box5{
    border: 1px solid black;
    width: 30%;
    height: 90px;
    float: right;
    margin-top: -50px;
}
.box6{
    border: 1px solid black;
    width: 30%;
    height: 65px;
    float: right;
    margin-top: -48px;
}

.btn1{
        position: fixed;
        margin-top: 6%;
        margin-left: -3%;
        border-bottom: none;
        border-radius: 5px;
        text-align: center;
        background-color: blue;
        
}
.btn2{
        position: fixed;
        margin-top: 12%;
        margin-left: -3%;
        border-top: none;
        border-radius: 2px;
        text-align: center;
        background-color: green;
}
button{
    height: 25px;
}
    /*---------slider-start-----*/
.anas{
    width: 100%;
    height: 30px;
    border-top: 1px solid black;
    background-color: gray;
    display: flex; 
    justify-content: space-between;
    text-align: center;
}

   /*------culculator------*/
   
   .row{
     width: 70%;
     margin: auto;
   }
  input{
    width: 100%;
  }
  .col:hover{
    background-color: palevioletred;
    color: red;
    
  }




