body{
  background-image: url('Add-Files.svg');
  background-repeat: no-repeat;
  background-size: cover;
  }
  .hide {
     display: none;
   }
  .main{
    width: 70%;
    margin-top: 12%;
    text-align: center;
    line-height: 30px;
  }
  input {
    width: 98%;
  }
  .btnD{
     text-align: center;
     width: 100%;
     margin: auto;
   }
   .btn{
     width: 49%;
   }
   #update{
     width: 49%;
   }
   button{
     width: 100%;
   }
  table {
     width: 70%;
   }
